﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebForm3.aspx.cs" Inherits="InternetArabaGaleri2B.WebForm3" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style1 {
            height: 231px;
            width: 304px;
        }
        .auto-style9 {
            background-color: #000000;
        }
        #form1 {
            background-color: #000000;
        }
        .auto-style10 {
            width: 310px;
        }
        .auto-style11 {
            width: 184px;
            height: 36px;
        }
        .auto-style13 {
            height: 36px;
        }
        .auto-style14 {
            width: 135px;
            height: 36px;
        }
    </style>
    </head>
<body style="background-color: #000000">
    <form id="form1" runat="server">
        &nbsp;<table width="997" border="1" align="center" style="height: 1332px">
  <tr>
    <td width="237" class="auto-style8">
        <img alt="" class="auto-style1" src="img/loooggooo.jpg" /></td>
    <td colspan="5" class="auto-style8"><img src="img/banner.jpg" width="807" height="239" alt="Banner" /></td>
  </tr>
  <tr>
    <td rowspan="2" class="auto-style10">
        &nbsp;</td>
    <td style="background-color: #000000" class="auto-style13">E&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:LinkButton ID="LinkButton1" runat="server" OnClick="LinkButton1_Click">HOME PAGE</asp:LinkButton>
      </td>
    <td style="background-color: #000000" class="auto-style11">&nbsp;&nbsp;&nbsp;
        <asp:LinkButton ID="LinkButton2" runat="server" OnClick="LinkButton2_Click">PAST and PRESENT</asp:LinkButton>
&nbsp;</td>
    <td style="background-color: #000000" class="auto-style14">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:LinkButton ID="LinkButton3" runat="server" OnClick="LinkButton3_Click">GALERY</asp:LinkButton>
      </td>
    <td width="114" colspan="2" style="background-color: #000000" class="auto-style13">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:LinkButton ID="LinkButton4" runat="server" OnClick="LinkButton4_Click">ABOUT U.S.</asp:LinkButton>
      </td>
  </tr>
  <tr>
    <td colspan="5" title="Araba Galerisi" class="auto-style9">
        <marquee direction="right">
      <img src="img\kayan1.jpg" width="250" height="200" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="img\kayan2.jpg" width="250" height="200" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="img\kayan3.jpg" width="250" height="200" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="img\kayan4.jpg" width="250" height="200" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="img\kayan5.jpg" width="250" height="200" />
  </tr>
  <tr>
    <td height="104" bgcolor="#333333">&nbsp;</td>
    <td colspan="5" rowspan="2" style="background-color: #000000"><iframe height="315" src="//www.youtube.com/embed/SEQDOdZt5TQ" frameborder="1" allowfullscreen style="width: 792px; background-color: #000000"></iframe>&nbsp;</td>
  </tr>
  <tr>
    <td height="37" bgcolor="#333333">&nbsp;</td>
  </tr>
  <tr>
    <td height="408" colspan="5"><div align="center" style="background-color: #000000">
        <img alt="" class="auto-style2" src="img/big.jpg" /></div></td>
  </tr>
</table>
    </form>
    </body>
</html>
