﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebForm2.aspx.cs" Inherits="InternetArabaGaleri2B.WebForm2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style1 {
            width: 307px;
            height: 240px;
        }
        .auto-style2 {
            width: 1117px;
            height: 396px;
        }
        .auto-style8 {
            height: 127px;
            background-color: #000000;
        }
        .auto-style9 {
            height: 10px;
            background-color: #000000;
        }
        .auto-style10 {
            background-color: #333333;
            text-align: center;
        }
        .auto-style11 {
            color: #FFFFFF;
            text-align: justify;
            background-color: #000000;
        }
        .auto-style20 {
            color: #C0C0C0;
        }
        .auto-style21 {
            height: 1px;
        }
        .auto-style23 {
            width: 180px;
            height: 1px;
        }
        .auto-style24 {
            width: 161px;
            height: 1px;
        }
        .auto-style25 {
            width: 191px;
            height: 1px;
        }
    </style>
</head>
    
<body style="background-color: #000000">
    <form id="form1" runat="server">
        &nbsp;<table width="997" border="1" align="center" style="height: 1332px">
  <tr>
    <td width="237" class="auto-style8">
        <img alt="" class="auto-style1" src="img/loooggooo.jpg" /></td>
    <td colspan="5" class="auto-style8"><img src="img/banner.jpg" width="807" height="239" alt="Banner" /></td>
  </tr>
  <tr>
    <td rowspan="2" class="auto-style10">
        <asp:Label ID="Label1" runat="server" style="text-align: center" Text="Kullanıcı Adı" CssClass="auto-style20"></asp:Label>
&nbsp;<br />
        <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
        <br />
        <asp:Label ID="Label2" runat="server" style="text-align: left; color: #C0C0C0;" Text="Şifre"></asp:Label>
        <br />
        <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
        <br />
        <br />
        <asp:Button ID="Button1" runat="server" Text="Giriş" OnClick="Button1_Click" />
        <br />
        <br />
        <asp:Label ID="lblHata" runat="server"></asp:Label>
        <br />
        <asp:Label ID="lblSayac" runat="server"></asp:Label>
      </td>
    <td style="background-color: #000000" class="auto-style23">E&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:LinkButton ID="LinkButton1" runat="server" OnClick="LinkButton1_Click">HOME PAGE</asp:LinkButton>
      </td>
    <td style="background-color: #000000" class="auto-style25">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:LinkButton ID="LinkButton2" runat="server" OnClick="LinkButton2_Click">PAST and PRESENT</asp:LinkButton>
&nbsp;</td>
    <td style="background-color: #000000" class="auto-style24">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:LinkButton ID="LinkButton3" runat="server" OnClick="LinkButton3_Click">GALERY</asp:LinkButton>
      </td>
    <td width="114" colspan="2" style="background-color: #000000" class="auto-style21">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:LinkButton ID="LinkButton4" runat="server" OnClick="LinkButton4_Click">ABOUT U.S.</asp:LinkButton>
      </td>
  </tr>
  <tr>
    <td colspan="5" title="Araba Galerisi" class="auto-style9">
        <marquee direction="right">
      <img src="img\kayan1.jpg" width="250" height="200" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="img\kayan2.jpg" width="250" height="200" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="img\kayan3.jpg" width="250" height="200" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="img\kayan4.jpg" width="250" height="200" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="img\kayan5.jpg" width="250" height="200" />
  </tr>
  <tr>
    <td height="104" bgcolor="#333333">&nbsp;</td>
    <td colspan="5" rowspan="2"><blockquote>
      <p class="auto-style11">Amerika&rsquo;n&#305;n en &uuml;nl&uuml; iki kap&#305;l&#305; spor otomobillerinden biri  olan Mustang, y&#305;llar ge&ccedil;tik&ccedil;e yava&#351; yava&#351; rotas&#305;n&#305; de&#287;i&#351;tirdi ve &ccedil;ok satan 1.  Nesil ara&ccedil;tan, daha l&uuml;kse ka&ccedil;an bir araca d&ouml;n&uuml;&#351;meye ba&#351;lad&#305;. Ama yine 2005 de  ortaya &ccedil;&#305;kan yeni model, Ford un &ldquo;Living Legend&rdquo; (Ya&#351;ayan efsane)  stratejisiyle, 1. Neslin tasar&#305;m&#305;yla ayn&#305; tasar&#305;ma sahipti. Geriye e&#287;imli  g&ouml;vde, ince hatl&#305; kaporta tarz&#305; ve siyah deriden i&ccedil; k&#305;s&#305;m gibi 1. Neslin g&ouml;ze  &ccedil;arpan baz&#305; yanlar&#305; modern teknolojiyle geri d&ouml;nd&uuml;. Klasik d&#305;&#351; k&#305;sm&#305;n&#305;n aksine  i&ccedil; mekanizma mevcut en yeni k&#305;s&#305;mlardan olu&#351;uyor. Yeni geli&#351;tirilmi&#351; bir  platform edinildi ve ayn&#305; zamanda s&uuml;spansiyonda uyumlu olacak &#351;ekilde tekrar  tasarland&#305;. Tamam&#305; al&uuml;minyum motor 4L V6 ve 4.6L V8 olmak &uuml;zere iki versiyona  sahipti ve her ikisi de 5 otomatik vites ve 5 d&uuml;z vitese uyumluydu.</p>
      <p class="auto-style11"> V8 li GT &uuml;st d&uuml;zey modelidir ve tabii ki  ilk dikkat &ccedil;eken yan&#305;, 304 BG g&uuml;&ccedil; &ccedil;&#305;k&#305;&#351;&#305;yla performans&#305;d&#305;r. Bir Amerikan V8 in  ritmik karakteristi&#287;i ve egzoz sesi s&uuml;r&uuml;c&uuml;n&uuml;n y&uuml;re&#287;ini hoplat&#305;r. Tabii ki yak&#305;t  ekonomisi g&ouml;zden ka&ccedil;mam&#305;&#351; ve bu y&uuml;zden de&#287;i&#351;ken ayarl&#305; supap sisteminden faydalan&#305;lm&#305;&#351;t&#305;r.  Yani &#351;asinin sa&#287;lad&#305;&#287;&#305; yol tutu&#351;u, bir Amerikan V8 in verdi&#287;i zevki veriyor.  G&ouml;vde &ccedil;ok dik ve size arac&#305;n boyutunu unutturuyor, b&ouml;ylece h&#305;z direkt ve  ger&ccedil;ek&ccedil;i &#351;ekilde beyninize i&#351;liyor ve eski versiyonlar&#305;n aksine art&#305;k bu ara&ccedil;lar  d&uuml;z yolda oldu&#287;u kadar virajlarda da h&#305;zl&#305;.</p>
    </blockquote></td>
  </tr>
  <tr>
    <td height="37" bgcolor="#333333">&nbsp;</td>
  </tr>
  <tr>
    <td height="408" colspan="5"><div align="center" style="background-color: #000000">
        <img alt="" class="auto-style2" src="img/big.jpg" /></div></td>
  </tr>
</table>
    </form>
</body>
</html>
