﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="InternetArabaGaleri2B.WebForm1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style1 {
            width: 268435488px;
        }
    </style>
</head>
<body>
   <table width="883" height="665" border="1" align="center">
  <tr>
    <td height="82" colspan="4">&nbsp;</td>
    <td colspan="2">&nbsp;</td>
    <td colspan="4">&nbsp;</td>
  </tr>
  
  <tr>
    <td height="107" colspan="4">&nbsp;</td>
    <td colspan="3" rowspan="3" align="center" class="auto-style1"><iframe width="560" height="315" src="//www.youtube.com/embed/SEQDOdZt5TQ" frameborder="1" allowfullscreen></iframe>  </td>
    <td width="110" colspan="3">&nbsp;</td>
  </tr>
  
  <tr>
    <td height="102" colspan="4">&nbsp;</td>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td height="79" colspan="4">&nbsp;</td>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="4">&nbsp;</td>
    <td width="242">&nbsp;</td>
    <td width="355">&nbsp;</td>
    <td colspan="5">&nbsp;</td>
  </tr>
  
  <tr>
    <td colspan="4">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td colspan="4">&nbsp;</td>
  </tr>
  
  <tr>
    <td colspan="4">&nbsp;</td>
    <td>&nbsp;</td>
    <td colspan="4">&nbsp;</td>
  </tr>
</table>
</body>
</html>
